<!--  -->
<%- include begin.html %>
<div class="app">
	<%- include head.html %>
	<div class="main">
		<!-- <div id="njblogbg"  >
	    <img id="bg" ng-src="{{resources.bg}}">
	    <a href="javascript:;" class="prv-fullscreen" ng-click="preimg()">Pre</a>
	    <a href="javascript:;" class="nxt-fullscreen" ng-click="nextimg()">Next</a>
		</div>
		<div class="wrap_top_nav">
		    <nav id="top_nav">
		        <ul class="inline-style clearfix">
		            <li class="active"><a href="#/">{{txt.home}}</a></li>
		            <li class="active"><a href="#/{{login.url}}">{{login.name}}</a></li>
		            <li class="active"><a href="#/{{signup.url}}">{{signup.name}}</a></li>
		            <li class="active">
		                <a href="javascript:;" class="preview" ng-click="fullscreen()">幻灯片放映</a>
		            </li>
		        </ul>
		    </nav>
		</div> -->

		

	</div>
	<%- include foot.html %>
</div>
<script data-main="/javascripts/app/index/index.js" src="/javascripts/libs/require.js"></script>
<%- include end.html %>